* {
    box-sizing: border-box;
}

:root {     /* Definition de variable en CSS */
    --color1: #D89584; /* Vu que c'est une couleur que j'utilise a plusieurs endroits */
    --color2: #F4F4F4;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
}

/* COUVERTURE */

section.cover {
    background: url(ressource/cover_overlay.png) no-repeat center/100% 100%, url(ressource/cover.jpg) no-repeat center/cover;
    /* ## La première image séra la plus proche du user, puis la 2ème derrière et ainsi de suite */
    /* 
    background: url(ressource/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ## Les 4 propriétées plus haut peuvent etre ecrite sur une seule ligne ##
    background: url(ressource/cover.jpg) no-repeat center/cover; */
    height: 360px;
    position: relative;
}

img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

.cover-contact {
    /* background-color: #FF000080; */
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cover-contact p:first-child {   /* On selectionne le premier enfant de type paragraphe dans la div cover_contact */
    margin-bottom: 14px;
}

.cover-contact a {
    color: white;
    font-size: 14px;
}

.align-button {
    text-align: center;
}

a.contact-button {
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-button_portfolio {
    position: absolute;
    right: 20px;
    top: 5px;
}

a.contact-button:hover {
    color: white;
    border: 3px solid white;
}

/* SECTION GRISE 1 */

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

section.section-grise1 {
    background: url(ressource/triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px;
}

section.section-grise2 {
    background: url(ressource/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 80px;
}

/* EN SAVOIR PLUS */

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}

.separateur {
    height: 1px;
    width: 150px;
    background-color: #979797;
    /* margin: 0 auto; ## Pour centrer aussi */
    position: relative;
    left: 50%;
    margin-left: -75px;
}

.section-grise1 p {
    font-size: 22px;
    text-align: center;
    color: #656565;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.bold-text {
    font-weight: bold;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

.float-right {
    float: right;
}

.description {
    padding-left: 16px; /* Pour que le padding soit pris en compte dans les 60%, j'ajoute le box-sizing (voir CSS plus haut *) */
}

div.text-avec-ligne-verticale {
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.text-avec-ligne-verticale p {
    margin-top: 0;
}

/* PORTFOLIO */

div.barre-verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portfolio {
    width: 47%;
}

.table1 {
    display: inline-block;
}

/* FRAME */

section.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}

p.frame-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

section.frame img {
    width: 100px;
}

.display-mobile {
    display: none;
}

/* PAGE PORTFOLIO */

.portfolio-header {
    background: url(ressource/header.jpg) no-repeat center/cover;
    height: 90px;
    position: relative;
}

.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

.portfolio-header div {
    margin-left: 16px;
    margin-top: 22px;
    height: 45px;
}

.portfolio-back {
    color: var(--color1);
    margin-left: -10px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
}

h2.portfolio {
    font-size: 26px;
    font-weight: normal;
    color: black;
    margin-bottom: 0;
}

.portfolio-section-grise1 {
    padding-top: 20px;
}

.portfolio-separateur {
    margin-bottom: 15px;
}

.center-image {
    text-align: center;
    margin-top: 3Opx;
}

img.portfolio {
    width: 70%;
    max-width: 475px;
}

.center-image a {
    display: block;
    margin-top: 8px;
}

/* RESPONSIVE DESIGN : MOBILE */

@media only screen and (max-width: 767px) {
    img.cover-profile {
        height: 90px;
        margin-top: 75px;
    }
    
    h1 {
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0px;
    }
    
    .cover p {
        margin-top: 2px;
        font-size: 13px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section.section-grise1 {
        padding-bottom: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .col40 {
        width: 100%;
    }
    
    .col60 {
        width: 100%;
    }

    .col-portfolio {
        width: 100%;
        margin-bottom: 20px;
    }

    .description {
        padding-left: 0;
        margin-top: 20px;
    }

    section.frame {
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;
    }

    section.frame img {
        width: 70px;
    }

    iframe {
        height: 250px;
    }

    /* PORTFOLIO - MOBILE */
    .portfolio-header-title {
        font-size: 19px;
        padding-top: 10px;
        padding-left: 4px;
    }

    a.contact-button {
        padding: 7px 12px;
        margin-top: 22px;
        font-size: 12px;
    }

    a.contact-button-portfolio {
        right: 8px;
    }

    h1.portfolio {
        font-size: 40px;
    }

    h2.portfolio {
        font-size: 22px;
    }
    
    img.portfolio {
        width: 100%;
    }

    .display-mobile {
        display: block;
    }
}